.header {
    display: flex;
    padding: 28px;
    justify-content: center;
    flex-wrap: wrap;
}
.header {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: #d4cccc;
    align-items: center;
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 15px;
}
.contato {
    font-size: 20px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.github{
    font-size: 20px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.linkedin {
    font-size: 20px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

body {
    background-color: hsla(198, 16%, 42%, 0.795);
height: 100vh;
    width: 100vw;
}
img {
    border-radius: 50%;
    height: 130px;
    margin-top: 20px;
}

.container-{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    border-radius:10px;
    background-color: #d4cccc;
}
.cartao .descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.cartao .informacoes {
display: flex;
align-items: center;
justify-content: space-evenly;
width: 100%;
padding-bottom: 30px;
text-align: center;
}

.info {
    padding: 18px;
}

.cidade {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.focus {
    color: var(--text-color);
    font-weight: bold;
}

.informacoes{
    display: flex;
    flex-direction: row;
    border-top: 2px solid #C0C0C0;
    padding: 10px;
}





































@media (max-width: 325px) {

    .header {
        padding: 15px;
    }
    
    nav {
        width: 40%;
        text-align: center;
    }
    .menu{
        display: block;
    }

    .menu li {
        margin-left: 0;
        font-size: 10px;

    }
    .menu a {
        padding: 7px;
        display: block;
    } 
    body {
        background-color: #ADD8E6;   
    }
}

